{% extends 'base.html' %}
{% block title%}
About Django 3 - Weather Lookup
{% endblock %}
{% block content %}
<h1>About Django 3 - Weather Lookup</h1>
<p class="text-justify">About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here.
    About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here. About Django 3 - Weather
    Lookup will go here.
    About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here. About Django 3 - Weather
    Lookup will go here. About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here.
    About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here. About Django 3 - Weather
    Lookup will go here. About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here.
    About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here. About Django 3 - Weather
    Lookup will go here. About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here.
    About Django 3 - Weather Lookup will go here. About Django 3 - Weather Lookup will go here. About Django 3 - Weather
    Lookup will go here. </p>

{% endblock %}
